<section>
  <h1>Some Projects</h1>
  <ul id="projects">
    <li class="project"><a href="blog.nicklau.io/">Old Blog</a></li>
    <li class="project"><a href="upload-app.nicklau.io/">Photo Upload App</a></li>
    <li class="project"><a href="sample-app.nicklau.io/">Sample App</a></li>
    <li class="project"><a href={{ root_url }} /blog/2015/12/01/raspberry-pi-alarm/ }>Raspberry Pi Alarm</a></li>
    <li class="project"><a href={{ root_url }} /blog/2015/12/07/learning-javascript/ }>Javascript Game</a
    <li class="project"><a href={{ root_url }} /blog/2014/06/13/learning-ruby-on-rails/ }>Ruby on Rails</a></li>
    ></li>
  </ul>
</section>
