<section>
  <h1>Some Projects</h1>
  <ul id="projects">
    <li class="project"><a href="http://blog.nicklau.io/">Old Blog</a></li>
    <li class="project"><a href="http://upload-app.nicklau.io/">Photo Upload App</a></li>
    <li class="project"><a href="http://sample-app.nicklau.io/">Sample App</a></li>
    <li class="project"><a href="http://www.nicklau.io/">Raspberry Pi (Coming Soon)</a></li>
    <li class="project"><a href="http://www.nicklau.io/">Javascript Game (Coming Soon)</a></li>
  </ul>
</section>
